# Jekyll
_site/
.jekyll-cache/
.jekyll-metadata

# Ruby
.bundle/
.ruby-version
Gemfile.lock

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Dependencies
node_modules/

# Build output
.sass-cache/
dist/
